[submodule "libDaisy"]
	path = libDaisy
	url = https://github.com/electro-smith/libDaisy.git
[submodule "DaisySP"]
	path = DaisySP
	url = https://github.com/electro-smith/DaisySP.git
[submodule "DaisyExamples"]
	path = DaisyExamples
	url = https://github.com/electro-smith/DaisyExamples.git
[submodule "inspiration/theallelectricsmartgrid"]
	path = inspiration/theallelectricsmartgrid
	url = https://github.com/jvictor0/theallelectricsmartgrid.git
